---
# Values here are the same across all environments
generic-service:
  nameOverride: token-verification-api
  productId: DPS017

  image:
    repository: ghcr.io/ministryofjustice/token-verification-api
    tag: latest
    port: 8080

  ingress:
    enabled: true
    tlsSecretName: token-verification-api-cert

  env:
    SERVER_PORT: 8080
    JAVA_TOOL_OPTIONS: "-Xmx512m"
    SPRING_PROFILES_ACTIVE: "logstash"
    SPRING_DATA_REDIS_SSL_ENABLED: "true"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  allowlist:
    groups:
      - moj_cloud_platform
      - digital_staff_and_mojo

  namespace_secrets:
    token-verification-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    tva-elasticache-redis:
      SPRING_DATA_REDIS_HOST: "primary_endpoint_address"
      SPRING_DATA_REDIS_PASSWORD: "auth_token"

generic-prometheus-alerts:
  targetApplication: token-verification-api
